$background_light: #FFF4FD;
$background_dark:  #110038;

$font-family: "Chakra Petch", serif;

$pre-header-light: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$pre-header-dark: linear-gradient(270deg, #EE3EFE  0%, #2E32FB 100%);

$box-shadow: 0 1px 0 0 #110038;


$color_white: #FFFFFF;
$color_black: #000000;
$color_violet_dark: #110038;
$color_violet_electric: #EE3EFE;
$color_blue_electric: #2E32FB;
$color_pink_light: #CCA6C9;
$color_pink: #FFF4FD;
$color_pink_darker: #E6BBE2;
$color_gray:  #E6E6E6;
$color_gray2: #F0F0F0;
$color_gray3: #808080;
$color_gray4: #B4B4B4;
$color_gray5: #979797;
$color_gray6: #8F8F8F;
$color_grey7: #DBDBDB;

$input-font__size: 16px;


$button-background: #F7C9F3;
$button-boxshadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$button-width: 10%;
$button-height: 36px;
$button-color: $color_gray4;


